<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello Business!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script source="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
</head>
<body>
<div id="enable-vue-here">
    <section class="hero is-fullheight is-primary is-bold">
        <div class="hero-head">
            <nav class="navbar">
                <div class="navbar-brand">
                    <a class="navbar-item" href="/">

                    </a>
                    <div class="navbar-burger" @click="showNav = !showNav" :class="{ 'is-active': showNav }">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
                <div class="navbar-menu" :class="{ 'is-active': showNav }">
                    <div class="navbar-end">
                        <a class="navbar-item" href="/dummies">
                            Dummies
                        </a>
                        <a class="navbar-item" href="/bigquery">
                            Big Query
                        </a>
                    </div>
                </div>
            </nav>
        </div>
        <!-- Hero content: will be in the middle -->
        <div class="hero-body">
            <div class="container has-text-centered">
                Some text here !
            </div>
        </div>
    </section>
</div>


<script>
    new Vue({
        el: '#enable-vue-here',
        data: {
            showNav: false
        }
    });
</script>
</body>